

.body {
font-family: sans-serif;
padding-bottom: 200px;
padding-top: 90px;
}

.form{
   display: flex;
  flex-direction: column;
  flex: 1; /* same as flex-grow:1, flex-shrink:1, flex-basis:0% */
  gap: 1.25rem; /* same as Tailwind gap-5 */
background-color: rgba(0, 0, 0, 0.077);
box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 20px;
    
}
