.Skill{

    height: 1000px;
    font-family: var(--font-techno), monospace;
    flex-direction: column;
    width: 100%;
    padding-top: 90px;
    display: flex;
    position: relative;
}

.Card {
    width: 90%;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.077);
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 20px;
    margin-top: 60px;
    font-family: var(--font-techno), monospace;
   
}

/* Icons Group */
.Icon {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-size: 40px;
    
    
}

/* Single Icon */
.Icon1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    transition: 0.5s ease;

}

.Icon1:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}

.H2 {
    font-size: 0.6em;
    margin-top: 5px;
    
    font-weight: 400;
    color: #ccc;
    display: flex;
}

/* Title */
.Title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 200;
    margin-bottom: 20px;
    font-family: var(--font-techno), monospace;
}

.H1Container {
     display: flex;
    justify-content: center; /* Push everything to the right */
    align-items: flex-start;
    gap: 60px;                 /* Space between text and icons */
    width: 100%;
    padding: 30px;        /* adjust how far right */
     flex-wrap: wrap;
}

.Content {
     font-size: 1.3em;
    
    color: #c8c8c8;
    max-width: 650px; 
    padding-top: 90px;         /* Keeps paragraph readable */
    text-align: center;  
}

.ButtonWrapper {
    width: 100%;
    display: flex;
    justify-content: center; /* centers the button */
    margin-top: 20px;
}

.MoreButton {
    
    font-weight: 200;
    padding: 12px 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Hover effect */
.MoreButton:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}


/* Responsive Breakpoints */
@media (max-width: 900px) {
    .Content {
        text-align: center;
        max-width: 100%;
    }

    .H1Container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* Mobile screens */
@media (max-width: 600px) {
    .Icon {
        font-size: 25px;
        gap: 20px;
        align-items: center;
    }
    .H1Container {
        padding: 0px 15px;
    }

    .Content {
        font-size: 1.1em;
    }
}
@media (max-width: 600px) {
    .MoreButton {
        padding: 10px 20px;
        font-size: 0.9em;
    }
}
@media (max-width: 900px) {
    .Skill {
        padding-top: 60px;
    }
}

@media (max-width: 600px) {
    .Skill {
        padding-top: 80px;
    }
}
