.Slider {
  position: relative;
  text-align: center;
  padding: 1rem;
}
.ImageWrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MotionImage {
  display: inline-block;
}
.Controls {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.Button {
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  transition: transform 0.2s;
}

.Button:hover {
  transform: scale(1.2);
}